<h1>Welcome to Spker <%= @user.first_name %></h1>

<p>
  Thank you for signing up to speaker. We are truly grateful for your support and interest in joining the first platform built for speakers and organisers to connect directly.
</p>

<p>You will shortly be receiving an email containing a link to confirm you account. Please check your spam/junk mail folder just in case it gets caught in the net. </p>

<p>If you have any questions or issues, please contact admin@spker.co.uk</p>

<p>From Ed - Spker founder</p>
