
.main-container {
  display: flex
}

.body-container {
  width: 70vw;
}

.card-container {
  display: grid;
  padding: 0px 30px;
}


ul {
  margin: 0px;
  margin-top: 0px;
  padding-left: 0px
}


#index-paragraph {
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  margin-top: 24px;
}

#index-header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 29px;
  margin-bottom: 36px;
  color: #484848

}


