.event-container {
  margin: 10px 20px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  h5 {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
}


.event-description {
  padding-bottom: 15px;
  border-bottom: 1px solid #F3F3F3;
  max-height: 300px;
  overflow: auto;
}

.event-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #F3F3F3;
  li {
    margin-left: 20px;
  }
}

.map-event {
  height: auto;
  margin: 10px;
}

.event-icon {
  display: inline;
  margin-right : 10px;
}

.location-details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F3F3F3;
}
