.event-container {
  margin: 10px 20px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  h5 {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
}

.organiser {
  display: flex;
  p {
    font-weight: lighter;
    margin-right: 10px;
  }
}

.event-list {
  margin-top: 20px;
  column-count: 2;
  li {
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

.organiser-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.event-description {
  padding-bottom: 15px;
  border-bottom: 1px solid #F3F3F3;
  max-height: 400px;
  overflow: auto;
}

.event-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #F3F3F3;
  li {
    margin-left: 20px;
  }
}

.map-event {
  height: auto;
  margin: 10px;
  border: 1px solid black;
}

.event-icon {
  display: inline;
  margin-right : 10px;
}

.location-details {
  display: flex;
  justify-content: space-around;
}
