
// Main container

.user-profile-wrapper {
  background-color: #fff;
  height: calc(100vh - 70px);
  width: 100vw;
  border: 1px solid #CFDBDC;
  // background-color: #717C96
}

// central container

.user-profile-container {
  height: calc(100vh - 70px);
  margin: 0 auto;
  width: 870px;
  justify-content: center;
  overflow: auto;
  padding-top: 40px;
  // background-color: #81D4F1

}

.user-profile-info {
  padding-top: 20px;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  margin: 20px;
  ul {
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 20px
  }
}

.user-avatar-profile {
  display: block;
  margin: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  .message-avatar {
    height: 200px;
    width: 200px;
    margin-left: 310px;
  }
  .add-photo {
    margin-right: 270px;
    float: bottom-right;
    background-color: red;;
    color: white;
    margin-bottom: 40px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-bottom: 20px;
  }
  .user-avatar{
    padding-left: 0px;
  }
}


.user-bio-profile {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 20px;
  margin: 20px
}



.user-profile-social-media {
  position: absolute;
  width: 200px;
  bottom: 0px;
  right: 0px;
  font-size: 30px;
  padding-right: 20px;
  ul {
    display: flex;
    justify-content: space-between

  }
  li {
    display: inline;
  }
}




