
// Main container

.speaker-profile-wrapper {
  background-color: #fff;
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  border: 1px solid #CFDBDC;
}


// Left side of the wrapper


.left-side-wrapper{
  color: black;
  width: 400px;
  padding-left: 30px;
  padding-top: 100px;
  .speaker-avatar-profile {
    padding-left: 30px;
    padding-bottom: 50px;
  }
}

.speaker-profile-info {
  padding-left: 50px;
  padding-top: 20px;
  ul {
    list-style-type: none;
  }
}


// Picture area of the left wrapper


.speaker-avatar-profile {
  display: block;
  .message-avatar {
    height: 150px;
    width: 150px;
  }
  .add-photo {
    float: right;
    margin-right: 120px;
    background-color: red;
    color: white;
    margin-bottom: 40px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  .speaker-avatar{
    padding-left: 50px
  }
}


// right side of the wrapper


.right-side-wrapper{
  color: black;
  width: 400px;
  padding: 20px;
}

.speaker-bio-profile {
  top: 70px;
  right: 0px;
}

.speaker-profile-social-media {
  position: absolute;
  width: 200px;
  bottom: 0px;
  right: 0px;
  font-size: 30px;
  padding-right: 20px;
  ul {
    display: flex;
    justify-content: space-between

  }
  li {
    display: inline;
  }
}


// central container

.speaker-profile-container {
  height: calc(100vh - 70px);
  margin: 0 auto;
  width: 870px;
  justify-content: center;
  overflow: auto;
}

.speaker-carousel {
  background-color: #F2F2F2;
  margin-bottom :20px;
  z-index: 4;
  padding-bottom: 30px
}

.speaker-skills {
  background-color: #F2F2F2;
  margin-bottom: 30px;
  padding-bottom: 10px;
    li {
    margin-left: 30px;
    list-style-type: none;

  }
}

.speaker-previous-events {
  background-color: #F2F2F2;
  display: inline-block;
  height: 470px;
  width: 870px;
  padding-left: 30px;
  padding-right: 10px;
  #card-display {
    width: 190px;
    height: 50px;
  }
  h1 {
    align-items: center
  }
}

