.main-dashboard-container {
  width: 100vw;
  height: calc(100vh-70px);
  border: 1px solid #F2F2F2;
}


.top-right-container {
  position: absolute;
  top: 70px;
  right: 5vw;
  border: 1px solid #F2F2F2;
  float: right;
  width: 50vw;
  height: 90%;
  margin-bottom: 10px;
  padding: 0px;
  overflow: auto;
}

.top-left-container {
  position: absolute;
  border: 1px solid #F2F2F2;
  top: 70px;
  left: 5vw;
  float: left;
  width: 40vw;
  height: 90%;
  margin-bottom: 0px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.dashboard-media {
  height: 40%;
  width: 100%

}

.dashboard-text {
  overflow: auto;
  height: 40%;
  width: 100%;
  right: 5vw;
  bottom: 0px;
}

.tabs-button {
  position: sticky;
  top: 70px;
  right: 0px
}
