.container.speaker-index{
  position: absolute;
  height: calc(100vh - 140px);
  width: 100vw;
  top: 140px;
  // display: flex;
}

.container {
  top: 0px;
  left: 0px;
  overflow: auto
}



// .left-container {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   width: 20vw;
//   height: 30vh;
//   ul{
//     list-style-type: none;
//   }
//   li{
//     padding: 5px;
//     list-style-type: none;
//   }
// }
