
  <div class="main-dashboard-container">
    <div class="left-container">
      <div class="top-left-container">
        <h2>Title test</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <h2>Title test</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
      </div>
<!--       <div class="bottom-left-container">

      </div>
    </div> -->
    <div class="right-container">
      <div class="top-right-container">
        <%= render 'shared/tabs' %>
        <%= render 'shared/carousel2' %>
      </div>
      <div class="bottom-right-container">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>

      </div>
    </div>

  </div>

