<div class="second-banner">
  <%= render 'shared/banner-navbar' %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1d076508395c99b386351d72a95c09e&auto=format&fit=crop&w=2200&q=80');">
    <div class="banner-content">
      <h1>book a speaker for your event</h1>
      <p>find speakers or become one today</p>
      <%= render 'shared/filter-searchbar2' %>
      <div class="arrow-container">
        <div class="down-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    </div>
  </div>
</div>
