<div id="banner3" class="second-banner">
  <%= render 'shared/banner-navbar' %>
  <div class="banner" style="background-image: url('https://res.cloudinary.com/montycat/image/upload/v1531148019/spker/main-banner.svg');">
    <!-- <div class="banner"> -->
    <div class="banner-content">
      <h1>the new way to book talented speakers</h1>
      <p>find speakers or become one today</p>
      <%= render 'shared/search-button' %>
      <%#= render 'shared/arrow' %>
    </div>
  </div>
<!--   <div class="speaker-cta">
    <h4>Register as a speaker today to get priority listing</h4>
    <%= link_to new_user_registration_path do  %>
    <button class="reg-button">Get Started</button>
    <% end %>
  </div> -->
</div>
