<div class="background-banner-overlay">

  <div id="myModal-edit" class="modal">

    <div class="modal-edit-content1">
      <span class="close">&times;</span>
      <div id="render-area">
        <%= render 'shared/event_form', { user: @event.user, event: @event }%>
      </div>
    </div>
  </div>
</div>
