<footer class="footer-wrapper">
  <div class="footer">
    <%= image_tag "speaker.svg", height: 80, class: "footer-logo" %>
    <div class="footer-links">
      <!-- <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> -->
      <a href="https://twitter.com/philsparksgolf" target="_blank"><i class="fab fa-twitter"></i></a>
      <!-- <a href="#" target="_blank"><i class="fa fa-medium"></i></a> -->
    </div>
  </div>
  <%= link_to "Privacy Policy", privacy_policy_path, class: "privacy-link" %>
  <div class="second-part">
    <div>
    <p>Made with <i class="red-heart fa fa-heart"></i> by Ed Sparks</p>
    </div>
    <div>
    <p>© 2018 P Sparks Ltd - All Rights Reserved</p>
    </div>
  </div>
</footer>
