<div class="how-to-wrapper">
  <div class="how-to-title">
    <h2>How does it work</h2>
  </div>
  <div class="talk-types">
    <div class="book-event">
      <%= cl_image_tag("spker/book-event.png") %>
    </div>
    <div class="keynote">
      <%= cl_image_tag("spker/keynote-stand.png") %>
    </div>
  </div>
</div>
