<div class="how-wrapper">
  <div class="how-title">
    <h2>How it works</h2>
    <p>Spker is a trusted community marketplace for public speakers and event organisers to find and book talented speakers in minutes</p>
  </div>
  <div class="how-icons">
    <div class="how-start"></div>
    <div class="how-mid"></div>
    <div class="how-end"></div>
  </div>
</div
