<div class="how-to-wrapper">
  <div class="how-to-title">
    <h2>How does Spker work?</h2>
    <p>Spker is the easy way to find and connect directly with speakers, putting you in control of your event.</p>
  </div>
  <div class="talk-types">
    <div class="book-event">
      <%= cl_image_tag("spker/book-event.png") %>
      <div class="how-text">
        <h4>Create an event</h4>
        <p>Sign up for free, then create your event through your portal</p>
      </div>
    </div>
    <div class="keynote">
      <%= cl_image_tag("spker/keynote-stand.png") %>
      <div class="how-text">
        <h4>Talk type</h4>
        <p>Keynote, Motivational, Award Host or Workshop? Find speakers that match your talk requirements</p>
      </div>
    </div>
    <div class="agreement">
      <%= cl_image_tag("spker/yippee.png") %>
      <div class="how-text">
        <h4>Book</h4>
        <p>Talk directly to the speaker, confirm the details and pay securely online</p>
      </div>
    </div>
  </div>
</div>
