<div class="how-to-wrapper">
  <div class="how-to-title">
    <h2>How does it work</h2>
  </div>
  <div class="talk-types">
    <div class="book-event">
      <%= cl_image_tag("spker/book-event.png") %>
      <div class="how-text">
        <h5>Some Title</h5>
        <p>Some other text which will need to be wrapped.</p>
      </div>
    </div>
    <div class="keynote">
      <%= cl_image_tag("spker/keynote-stand.png") %>
      <div class="how-text">
        <h5>Some Title</h5>
        <p>Some other text which will need to be wrapped.</p>
      </div>
    </div>
    <div class="agreement">
      <%= cl_image_tag("spker/keynote-stand.png") %>
      <div class="how-text">
        <h5>Some Title</h5>
        <p>Some other text which will need to be wrapped.</p>
      </div>
    </div>
  </div>
</div>
