<form class="searchform" action="/spaces">
    <input type="search" id="searchbar" name="location" placeholder="Country, City, Area...">
    <button type="submit" class="btn btn-search">Search</button>
</form>
