<!-- Trigger/Open The Modal -->
<div class="background-banner-overlay">

  <div id="mySignupModal" class="modal">

    <div class="modal-content1">
      <span class="close close-2">&times;</span>
      <div id="render-area">
        <%= render 'shared/signup-form' %>
      </div>
    </div>

  </div>
</div>
