<div class="row">
  <div class="speaker-det-container">
    <div class="speaker-events col-xs-4">
      <h2>Events Completed</h2>
      <p>current_user.events.length#####</p>
    </div>
    <div class="speaker-requests col-xs-4">
      <h2>Invites Received</h2>
      <p>< current_user.invite##### %></p>
    </div>
    <div class="earnings col-xs-4">
      <h2>Earnings</h2>
      <p>current_user.earnings#######</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="opportunities">
    <div class="received-from col-xs-4">
      <h2>Request from</h2>
      <p>invitee.name#####</p>
    </div>
    <div class="Event Information col-xs-4">
      <h2>Event Information</h2>
      <p>< invite.descrtiption######## %></p>
    </div>
    <div class="offer col-xs-4">
      <h2>Offer Amount</h2>
      <p>invite.money#######</p>
    </div>
  </div>
</div>
