<div id="card-display">
    <div class="card-wrap scaled">
      <%= link_to user_speaker_path(user) do %>
      <img src="http://res.cloudinary.com/montycat/image/upload/q_64/v1520614987/Backer_image.jpg" alt="test 1" style="width:100%; height:60%">
      <h2 class="text-center"><%= user.first_name %> <%= user.last_name %></h2>
      <p class="text-center"><%= humanized_money_with_symbol(user.cost)%> per hour</p>
      <% end %>
    </div>
</div>


