<div class="tabs">
  <a class="tab active" href="#">
    <h3> <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'London')">London</button></h3>
  </a>
  <a class="tab" href="#">
    <h3><button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Paris')">Paris</button></h3>
  </a>
  <a class="tab" href="#">
    <h3><button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Tokyo')">Tokyo</button></h3>
  </a>
</div>
