<div class="tabs">
  <a class="tab active" href="#">
    <h3>Photos</h3>
  </a>
  <a class="tab" href="#">
    <h3>Videos</h3>
  </a>
  <a class="tab" href="#">
    <h3>Links</h3>
  </a>
  <a class="tab" href="#">
    <h3>Other</h3>
  </a>
</div>
