<div class="what-is-wrapper">
  <div class="what-is-title">
    <h2>What is Spker</h2>
    <p>Spker is a trusted community marketplace for public speakers and event organisers to find and book talented speakers in minutes</p>
  </div>
  <div class="what-is-icons">
    <div class="what-is-card">
      <div class="what-is-image" style="background-image: url(<%= cl_image_path("spker/colour-phones.jpg", quality: "auto:low") %>)"></div>
      <div class="what-is-card-detail">
        <h4>Out with the old</h4>
        <p>No middlemen, no phone calls, contact speakers directly</p>
      </div>
    </div>
    <div class="what-is-card">
      <div class="what-is-image" style="background-image: url(<%= cl_image_path("spker/colour-clock.jpg", quality: "auto:low") %>)"></div>
      <div class="what-is-card-detail">
        <h4>Ready when you are</h4>
        <p>Only see speakers available for your dates</p>
      </div>
    </div>
    <div class="what-is-card">
      <div class="what-is-image" style="background-image: url(<%= cl_image_path("spker/colour-stars.jpg", quality: "auto:low") %>)"></div>
      <div class="what-is-card-detail">
        <h4>Trust me</h4>
        <p>User curated reviews for your piece of mind</p>
      </div>
    </div>
  </div>
</div>
