<%= render 'shared/navbar' %>
<div class="become-wrapper">
  <div class="become-banner">
    <div class="become-banner-title">
      <h1>Being a Speaker with Spker is easy as...</h1>
    </div>
    <div class="become-banner-numbers">
      <div class="become-banner-num">
        <h1>1</h1>
        <p>Register using the button below</p>
      </div>
      <div class="become-banner-num">
        <h1>2</h1>
        <p>Confirm your email address...check your spam folder!</p>
      </div>
      <div class="become-banner-num">
        <h1>3</h1>
        <p>Click 'Become a speaker' from your dashboard</p>
      </div>
    </div>
  </div>
  <div class="become-container">
    <div class="become-info-wrapper">
      <div class="become-info-container">
        <div class="become-info-title">
          <h4>Speak with Spker</h4>
        </div>
        <div class="become-info-bullets">
          <ul>
            <li><p>Free registration!</p></li>
            <li><p>Low Fees - You keep 90%!</p></li>
            <li><p>No Middlemen</p></li>
            <!-- <li><p>Calendar Feature - Show when you are available</p></li> -->
            <li><p>User reviews</p></li>
            <li><p>Guaranteed Payment</p></li>
          </ul>
          <hr>
          <div class="become-info-footer">
            <h2>£0/mo</h2>
            <%= link_to "Register Now", new_user_registration_path, class: "register-now-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
