<%= render 'shared/banner'%>

<div class="container">
  <div class="col-xs-12">
    <div class="row">
    <h1 class="text-center">Browse by categories</h1>
    <hr>
      <div class="gallery">
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1431540015161-0bf868a2d407?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5c6c65f9940b030316c3cdf11b16659&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Design</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c035f34c035a8690da777211f1e66d59&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Marketing</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1479243396208-be1751535cdb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=018516db30298c3f7677bd594891da5d&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Politics</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1503418895522-46f9804cda40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c82470245acea287a50a05c7aab333b6&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Business</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89ec16a5cf7765e8a7a300bf6b72d131&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Programming</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1484061305560-3133ddda73cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4f742e43716e35c7be12c23e3153e5b&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Ecology</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1514996937319-344454492b37?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61beb42b2efcc73d2901212c163858e3&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Fashion</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1519750157634-b6d493a0f77c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8c7c93b678d4d17523bca7b14b48989&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Finance</h3>
          </div>
        </div>
        <div class="category well" style= "background-image: url('https://images.unsplash.com/photo-1504624720567-64a41aa25d70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6547eb1ef8143e823061e60e0247afc2&auto=format&fit=crop&w=800&q=60')">
          <div class="category-description">
            <h3 class="text-center">Technology</h3>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4 text-center">How easy is it to find the right speaker for you?</h2>
  </div>
</div>



<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge">1</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Search for a great speaker</h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">2</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">find the perfect match for your event</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">3</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Contact the speaker of your choice</h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">4</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Discuss the fine print</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success">5</i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Book the speaker of your dreams</h4>
            </div>
          </div>
        </div>
    </ul>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead text-center">Now start your search for a creat entertainer</p>
  </div>
</div>


