<%= render 'shared/banner'%>

<hr>

<div class="container well">
  <div class="col-xs-12">
    <div class="row">
    <h1 class="text-center">Speakers</h1>
    <hr>
      <div class="gallery">
        <img src="https://images.unsplash.com/photo-1431540015161-0bf868a2d407?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5c6c65f9940b030316c3cdf11b16659&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c035f34c035a8690da777211f1e66d59&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1479243396208-be1751535cdb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=018516db30298c3f7677bd594891da5d&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1503418895522-46f9804cda40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c82470245acea287a50a05c7aab333b6&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89ec16a5cf7765e8a7a300bf6b72d131&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1484061305560-3133ddda73cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4f742e43716e35c7be12c23e3153e5b&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1514996937319-344454492b37?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61beb42b2efcc73d2901212c163858e3&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1519750157634-b6d493a0f77c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8c7c93b678d4d17523bca7b14b48989&auto=format&fit=crop&w=800&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1504624720567-64a41aa25d70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6547eb1ef8143e823061e60e0247afc2&auto=format&fit=crop&w=800&q=60" alt="">
      </div>
    </div>
    </div>
  </div>
</div>

<hr>

<div class="container well">
    <div class="page-header">
        <h1 id="timeline" class="text-center">How to hire the best for you!</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge">1</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Search for a great speaker</h4>
            </div>
            <div class="timeline-body">
              <p>Search for a great speaker</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">2</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">find the perfect match for your event</h4>
            </div>
            <div class="timeline-body">
              <p>find the perfect match for your event</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">3</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">create an event if you dont have one yet</h4>
            </div>
            <div class="timeline-body">
              <p>create an event if you dont have one yet</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Discuss the fine print</h4>
            </div>
            <div class="timeline-body">
              <p>Discuss the fine print</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">4</i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Book the speaker of your dreams</h4>
            </div>
            <div class="timeline-body">
              <p>Book the speaker of your dreams</p>
            </div>
          </div>
        </div>
    </ul>
</div>


<div class="container well">
  <div class="row">
      <h1 class="text-center">contact us</h1>
  </div>
  <div class="row">
      <h4 class="text-center">We'd love to hear from you!</h4>
  </div>
  <hr>
  <div class="row input-container">
      <div class="col-xs-1">
        <div class="styled-input">
          <input type="text" required, placeholder="Name" />
          <input type="text" required, placeholder="Email" />
          <input type="text" required, placeholder="Phone Number" />
        </div>
      </div>
      <div class="col-xs-12">
          <textarea required, placeholder="Message"></textarea>
          <div class="btn-lrg submit-btn">Send Message</div>
      </div>
  </div>
</div>




