.search-button {
  background-color: #ffffff;
  padding: 3px 7px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #717171;
  margin-right: 35px;
  transition: background-color, border .5s ease;
  &:hover {
    background-color: #f15b57;
    color: #d8d8d8;
    border: 1px solid #f15b57;
  }
}
