.dashboard.container {
  margin-top:  50px;
}

.tab-content-container {
  height: calc(80vh);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.pp-image {
  margin-top: 16px;
  float: right;
  height: 155px;
  width: 155px;
  background-position: 50% 50%;
  background-size: 100%;
  border-radius: 16px;
  float: left;
}

.profile-content {
  position: relative;
  max-width: 750px;
  margin: 40px auto;
  height: auto;
  border: 1px solid rgba(236, 140, 59,0.3);
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(236, 140, 59,0.2), 0 6px 20px 0 rgba(236, 140, 59, 0.19);
}

.profile-edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3274B8;


}

.edit-button-profile {
 & :hover {
  color: rgba(50, 116, 184, 0.6);
  cursor: pointer;
}
}

.user-name {
  margin-top: 20px;
}

.submit-button {
  position: absolute;
  top: 8px;
  right: 7px;
}
