.dashboard.container {
  margin-top:  50px;
  overflow: hidden;
}

.tab-content-container {
  height: auto;
  min-height: 200px;
  border-left: 1px solid rgb(236, 140, 59);
  border-right: 1px solid rgb(236, 140, 59);
  border-bottom: 1px solid rgb(236, 140, 59);
  .nav-tabs {
    border: rgb(236, 140, 59);
  }
}

.pp-image {
  margin-top: 16px;
  float: right;
  height: 155px;
  width: 155px;
  background-position: 50% 50%;
  background-size: 100%;
  border-radius: 16px;
  float: left;
}

.profile-content {
  position: relative;
  max-width: 750px;
  margin: 40px auto;
  height: auto;
  border-radius: 3px;
}

.profile-edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3274B8;


}

.edit-button-profile {
 & :hover {
  color: rgba(50, 116, 184, 0.6);
  cursor: pointer;
}
}

.user-name {
  margin-top: 20px;
}

.submit-button {
  position: absolute;
  top: 8px;
  right: 7px;
}

.load-photo {
  position: absolute;
  bottom: 7px;
  left: 20px;
  width: 150px
}


.event-create-button {
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #418ADF;
  border: 1px solid #418ADF;
  font-size: 19px;
  i {
    font-size: 10px;
  }
}

.row.event-lists {

}

.nav-tabs > li.active > a {
  border: 1px solid rgb(236, 140, 59) !important;
  border-bottom-color: transparent !important;
}

.events-list {
  padding: 10px 0px;
  border: 1px solid rgba(0,0,0,0.1);
  height: 150px;
  margin: 10px 25px;
  box-shadow: 0 4px 8px 0 rgba(236, 140, 59,0.2), 0 6px 20px 0 rgba(236, 140, 59, 0.19);
  .event-name {
    border-right: 1px solid rgba(0,0,0,0.1);
    height: 100%;
  }
  .event-description1 {
    border-right: 1px solid rgba(0,0,0,0.1);
    height: 100%;
  }
  .event-speakers {
    height: 100%;
  }
}

.dash-tab {
  background-color: rgba(236, 140, 59, 0.8);
  border-radius: 3px 3px 0 0;
  a {
    color: #fff;
  }
}

.dashboard-title {
  h1, h4 {
  color: rgba(0,0,0,0.7);
  }

}

.nav-tabs {
  border-bottom-color: rgb(236, 140, 59);
}

.speaker-requests {


}

.speaker-det-container {

}
