.dashboard.container {
margin-top:  50px;
}

.tab-content-container {
      height: calc(80vh);
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);
}
