.event_form_container {
  display: flex;
  justify-content: center;
  height: auto;
}

.form-box {
  padding: 16px;
  border-radius: 3px;
  width: 100%;
  height: calc(100vh - 95px);
  background-color: white;
  overflow: auto;
  h5 {
    font-weight: bold;
  }
  h3 {
    margin-top: 0px;
  }
}

.event_categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  padding: 0 20px;
  .checkbox {
    margin-top: 10px;
  }
}

.event_is_paid {
  display: flex;
  justify-content: space-around;
  .radio {
    margin: 10px 5px;
  }
}

.expenses {
  display: flex;
  justify-content: space-around;
}

.radio+.radio, .checkbox+.checkbox {
    margin-top: 10px !important;
}

.modal-backdrop {
  z-index: 500;
}
