.event_form_container {
  display: flex;
  justify-content: center;
}

.form-box {
  margin-top: 90px;
  padding: 40px;
  border-radius: 3px;
  width: 70%;
  height: calc(100vh - 95px);
  background-color: white;
  overflow: auto;
  h5 {
    font-weight: bold;
  }

}

.event_categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  padding: 0 20px;
  .checkbox {
    margin-top: 10px;
  }
}

.event_is_paid {
  display: flex;
  justify-content: space-around;
  .radio {
    margin: 10px 0;
  }
}

.expenses {
  display: flex;
  justify-content: space-around;
 }

