.map-container {
  height: calc(100vh);
  width: 30vw;
  background-color: #FFFFFF;
  right: 0px;
  top: 0px;
  position: sticky;
  background-repeat: none;
  background-size: cover;
  padding-right: 20px;
}
