
.message-container{
  width: 70vw;
  height: calc(100vh - 105px);
  position: absolute;
  top: 100px;
  left: 15vw;
  display: block;
  border: 1px solid #F2F2F2;
  background-color: #FFFFFF;
  border-radius: 3px
}

.message-avatar {
  margin-top: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

.message {
  display: flex;
  align-items: center;
  border: 1px solid #F2F2F2;
  width: 100%;
  h3 {
    margin-top: 5px;
  }
  .sent {
    background-color: rgba(65, 211, 80, 0.1);
    border-right: 3px solid $green;
  }
  .received {
   background-color: rgba(56, 157, 216, 0.1);
   border-left: 3px solid $blue;
 }
}

.message-info {
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#message-list {
  overflow: auto;
  height: 80vh;
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  width: 75%;
  margin: 0 10px;
  font-size: 18px;
  p {
    margin: 0;
    padding: 10px 10px;
    border-radius: 3px;
    &.sent {
      border: none;
    }
    &.received {
      border: none;
    }
  }
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

#new-message {
  padding: 20px 40px;
  border-bottom: 1px solid #000;
}
