.detail-form {
  background-color: white;
  width: 70%;
  padding: 20px 30px;
  margin-top: 10px;
  height: calc(95vh - 70px);
  overflow: auto;
  h5 {
    font-weight: bold;
  }
}

#user_speaker_blurb {
  height: 130px;
}

#user_address {
  height: 94px;
}

.speaker-info {

}

.speaker-edit-photo {
  background-position: 50%;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.social-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-input-box {
  width: 80%;
}

.prepend {
  font-weight: lighter;
  width: 192px;
  text-align: right;
}

.edit-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
