.tabs {
  background: #FFFFFF;
  display: flex;
  padding: 0px;
  width: 100%
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tabs-button {
  background: #FFFFFF;
  flex: 0 0 33%;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0px;
  right: 5vw;
  text-decoration: none
}

.tabs.active {
  background: white;
  color: black;
}

