<div class="become-wrapper">
  <div class="become-container">
    <div class="become-info-wrapper">
      <div class="become-info-container">
        <div class="become-info-title">
          <h4>Speak with Spker</h4>
        </div>
        <div class="become-info-bullets">
          <ul>
            <li><p>Free registration!</p></li>
            <li><p>Low Fees - You keep 90%!</p></li>
            <li><p>No Middlemen</p></li>
            <!-- <li><p>Calendar Feature - Show when you are available</p></li> -->
            <li><p>User reviews</p></li>
            <li><p>Guaranteed Payment</p></li>
          </ul>
        </div>
        <div class="become-info-footer">

        </div>
      </div>
    </div>
  </div>
</div>
