<div class="dashboard-wrapper">
  <div class="dashboard-title">
    <h1>Welcome <%= current_user.first_name %></h1>
  </div>
  <div class="dashboard-container">
      <%= render 'speakers/shared/speaker_form',
      user: @user, url: user_speaker_create_path(@user) %>
  </div>
</div>
