<div class="page-container">
  <div class="page-card-container speaker-profile">
    <div class="profile-first-half">
      <div class="review-stars">

      </div>
      <div class="speaker-title">
        <h1><%= @user.first_name %></h1>
        <h1><%= @user.last_name %></h1>
        <h4>??? create subtitle for post-nominal names ????</h4>
      </div>
      <p>???? This is going to be a space to put a short speaker blurb ????</p>
      <div class="speaker-qualities">
        <div class="speaker-talk-types">

        </div>
        <div class="speaker-expertise">

        </div>
      </div>
      <div class="speaker-location">
        <p>Location:</p>
        <p>???? speaker city, county, country</p>
      </div>
    </div>
    <div class="profile-second-half">

    </div>
  </div>
</div>
