<%= render 'shared/filter-searchbar' %>
<div class="container fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="container well">
        <h4 id="index-header" class="text-center">Choose the perfect speaker for your event in <%= params[:location] %></h4>
        <hr>
          <div class="row">
              <% @users.each do |user| %>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <%= render 'shared/speaker_card', user: user%>
                </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>








<!--     <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="left-container well">
        <ul>
          <% @tags.each do |tag|%>
          <li>
            <%= tag.name %>
          </li>
          <% end %>
        </ul>
      </div>
    </div> -->



